*{ font-family: 'Patrick Hand', cursive;

}
body{
margin: 0;
}
.bg-top{
    background-image: url(top-banner.png);
}
h1{
    font-size: 50px;
}
.name-h{
    color: orange;
}
.col-6{
    width: 50%;
    float: left;
}
img{
    width: 100%;
}
button{
    border: none;
    padding: 20px 40px;
    border-radius: 20%;
    background: orangered;
    box-shadow: 3px 4px 5px seagreen;
    cursor: pointer;
}
button:hover{
    background: brown;
}
button a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    color: rgb(14, 204, 14);

}