body{
font-family: sans-serif;
margin: 0px;
}
section{

    height: 600px;
}
.first-s{
background: url("header-bg.png");
background-repeat: no-repeat;

}
h1{
    font-size: 50px ;
    color: crimson;
}
h2{
    font-size: 40px;

}
.half-width{
width: 30%;
margin: 10%;
padding: 0%;
float: left;
}
.half-width img{
    width: 100%;
}
button{
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        background: tomato;    
}
button:hover{
    color: yellow;
    background-color: yellowgreen;
}
button a{
    text-decoration: none;
    color: darkblue;
    padding: 10px 20px;
    font-weight: 800;

}
button a:hover{color: teal;}
.second-s{
    background-image: url("personal-website/biography-bg.png");
    background-repeat: no-repeat;
}

.work-h{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}
.photo{
    width: 25%;
    margin: 4%;
    
    float: left;
    }
.photo img{
    width: 100%;
    
}
.last-s{
    text-align: center;
    justify-content: center;
}
.spacial{
    
    background-color: tomato;
    border-radius: 20px;
    width: 50% ;
margin-left: 250px;
margin-top: 50px;
}
footer{
    text-align: center;
    
}